# 必改
LOGIN_PASSWORD=your_login_password
VNC_PASSWORD=your_vnc_password

# 服务器公网 IP 或域名
SERVER_IP=你的服务器IP

# 以下保持默认即可
VNC_HOST=puppy-stardew
VNC_PORT=5900
PANEL_PORT=18642
VNC_WEB_PORT=43000
TZ=Asia/Shanghai
